
<div>
  <h1 class="greeting">Hi! {{patient.name}}</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://www.pinclipart.com/picdir/big/174-1745859_health-id-card-credencial-png-clipart.png" class="card-img-top" alt="...">
      <div class="text-center card-body">
        <h5 class="card-title">Digital Vaccination Card</h5>
        <button type="button" class="btn btn-primary text-center" id="myBtn">Click to View</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      {{!-- <img src="..." class="card-img-top" alt="..."> --}}
      <div class="text-center card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Feature 2</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      {{!-- <img src="..." class="card-img-top" alt="..."> --}}
      <div class="text-center card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Feature 3</p>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="vaccineModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Digital Vaccination Card</h2>
    </div>
    <div class="modal-body">
    <p>Patient Id: {{patient.vaccine.patient_id}}</p>
    <p>Name of Vaccine: {{patient.vaccine.vaccine_name}}</p>
    <p>Location of Vaccination: {{patient.vaccine.location_name}}</p>
    <p>First Dose: {{patient.vaccine.first_dose}}</p>
    <p>Second Dose: {{patient.vaccine.second_dose}}</p>
    </div>
  </div>
</div>

<script src="./js/dashboard.js"></script>


